<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Linha</title>
    </h:head>
    <h:body>
      <h:messages/>
      <h1>Nova linha</h1>
      <h:form>
	      <fieldset>
	      	<p> Identificação: <h:inputText value="#{cadastrarLinhaMBean.linha.ident}" size="20" 
	        required="true" requiredMessage="Identificação: Campo obrigatório." /> </p>
	        <p> Origem: <h:inputText value="#{cadastrarLinhaMBean.linha.origem}" size="50" 
	        required="true" requiredMessage="Origem: Campo obrigatório." /> </p>
	        <p> Destino: <h:inputText value="#{cadastrarLinhaMBean.linha.destino}" size="50" 
	        required="true" requiredMessage="Destino: Campo obrigatório." /> </p>
	        <p> 
	        Hora de saída: <h:inputText value="#{cadastrarLinhaMBean.linha.horaSaida}" size="10" 
	        required="true" requiredMessage="Hora de saída: Campo obrigatório." />
	        Hora de saída: <h:inputText value="#{cadastrarLinhaMBean.linha.horaChegada}" size="10" 
	        required="true" requiredMessage="Hora de chegada: Campo obrigatório." />
	        </p>
	        <p><h:commandButton value="Cadastrar" action="#{cadastrarLinhaMBean.cadastrar}" />
	        <h:commandButton value="Voltar" action="#{cadastrarLinhaMBean.voltar}" immediate="true"/> </p>
	      </fieldset>
      </h:form>
    </h:body>
</html>