<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Empresa</title>
    </h:head>
    <h:body>
      <h:messages/>
      <h1>Nova Empresa</h1>
      <h:form>
	      <fieldset>
	      	<p> CNPJ: <h:inputText value="#{cadastrarEmpresaMBean.empresa.cnpj}" size="50" 
	        required="true" requiredMessage="CPNJ: Campo obrigatório." /> </p>
	        <p> Razão Social: <h:inputText value="#{cadastrarEmpresaMBean.empresa.razaoSocial}" size="50" 
	        required="true" requiredMessage="Razão social: Campo obrigatório." /> </p>
	        <p><h:commandButton value="Cadastrar" action="#{cadastrarEmpresaMBean.cadastrar}" />
	        <h:commandButton value="Voltar" action="#{cadastrarEmpresaMBean.voltar}" immediate="true"/> </p>
	      </fieldset>
      </h:form>
    </h:body>
</html>